<div class="row" style="width: static; margin: auto; padding: static;">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="width: static; margin: auto;">
            <div class="card-header">
                <div style="width: static; margin: auto;text-align: center;">World Cup Coffee Company</div>
            </div>
            <div class="card-block">
                <div class="card-media-block">
                    <img src="https://s3-media3.fl.yelpcdn.com/bphoto/CjpUVOWl8WtfF_apuICeAw/o.jpg" class="card-media-image">
                    <div class="card-media-description">
                        <span class="card-media-title">
                        Formerly Toomer’s Coffee, the new name reflects the same commitment to quality of service you came to expect from Sandy & Trish Toomer!
                        The new owner, <b>Jihad Abassi</b> is an Auburn man through and through. He is well known in the food and beverage industry, and has been a popular fixture in the local Youth Soccer world as a coach and parent.
                        </span>
                        <span class="card-media-text">
                            PS: YES, we will be serving Toomer’s Coffee Roasters fabulous coffee exclusively!
                            <p>War Eagle!</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="text-align: center;">
                <a class="btn btn-sm btn-link" href="#" [routerLink]="['/order']" routerLinkActive="active">Order Now!</a>
                <a class="btn btn-sm btn-link" href="https://goo.gl/maps/4R3zPaWj3gQ2">Take Me There!</a>
            </div>
        </div>
    </div>
</div>
