<clr-main-container>
  <clr-header class="header header-4">
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-logo"></span>
        <span class="title">World Cup Coffee Company</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a>
          <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active"><span class="nav-text">About</span></a>
          <div *ngIf="adminService.me().activeSession">
            <a class="nav-link" href="#" [routerLink]="['/dashboard']" routerLinkActive="active"><span class="nav-text">Dashboard</span></a>
          </div>
      </div>
    <div class="header-actions" style="padding-top: 6px">
      <div *ngIf="!adminService.me().activeSession">
          <a class="btn btn-primary" href="#" [routerLink]="['/login']" routerLinkActive="active"><span class="nav-text">Log In</span></a>
      </div>
      <clr-dropdown *ngIf="adminService.me().activeSession" [clrCloseMenuOnItemClick]="true">
          <button type="button" class="btn profile-btn" clrDropdownTrigger>
              <span class="nav-text">{{ adminService.me().username | uppercase }}</span>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen>
              <label class="dropdown-header">Settings</label>
              <button type="button" clrDropdownItem>Profile</button>
              <div class="dropdown-divider"></div>
              <button type="button" clrDropdownItem (click)="adminService.logout()">Logout</button>
          </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
