<div class="main-container">
    <div class="content-container">
        <div class="content-area">
            <h1>
                New Orders
                <button type="button" (click)="refreshOrders()" class="btn btn-sm btn-link">
                    <span class="label label-info">Refresh</span>
                </button>
            </h1>
            <!-- starting to loop through all new order -->
            <div *ngFor="let order of newOrders">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                {{ order.product.name | uppercase }}
                                <span class="ready-timestamp">
                                    <small>(ready at {{order.createdAt | date:'MM-dd HH:mm'}})</small>
                                </span>
                            </div>

                            <div class="card-block">
                                <div class="card-title">
                                    {{ order.specialRequest | uppercase }}
                                </div>
                                <div class="card-text">
                                    <p class="lead">User Details</p>
                                    <ul>
                                        <li>Name: {{ order.user.fullName }}</li>
                                        <li>Mobile: {{ order.user.mobileNumber }}</li>
                                        <li>Order Status: <span class="ready-timestamp">{{ order.orderStatus }}</span></li>
                                        <li *ngIf="order.payment === null">
                                            Payment Status: <span class="label label-info">NOT PAID</span>
                                        </li>
                                        <li *ngIf="order.payment !== null">
                                            Payment Status: <span class="label label-success">{{ order.payment.paymentStatus }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer">
                                    <button class="btn btn-sm btn-link" *ngIf="order.orderStatus === 'RECEIVED'" (click)="updateOrder(order.id)">
                                        <span class="label label-info">Start</span>
                                    </button>
                                    <button class="btn btn-sm btn-link" *ngIf="order.orderStatus === 'PROCESSING'" (click)="updateOrder(order.id)">
                                        <span class="label label-success clickable">Done</span>
                                    </button>
                                    <button class="btn btn-sm btn-link" (click)="orderError(order)">
                                        <span class="label label-danger clickable">Error</span>
                                    </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <nav class="sidenav">
                <section class="sidenav-content">
                    <a href="/dashboard/" class="nav-link active">
                        New Orders <span class="badge">{{ newOrders.length }}</span>
                    </a>
                    <a href="/dashboard/all" class="nav-link active">
                        All Orders
                    </a>
                    <section *ngIf="adminService.me().superUser" class="nav-group">
                        <input id="superUserSettings" type="checkbox" />
                        <label for="superUserSettings">Superuser Settings</label>
                        <ul class="nav-list">
                            <li>
                                <a class="nav-link">
                                    <clr-icon shape="plus"></clr-icon>
                                    Add Product
                                </a>
                            </li>
                        </ul>
                    </section>
                </section>
            </nav>
        </div>
    </div>